@import url("slick-carousel/slick/slick.css");
@import url("slick-carousel/slick/slick-theme.css");

/* Slider container */
.slider-container {
  width: 100%;
  max-width: 900px; /* Adjust width */
  margin: 0 auto; /* Center the slider */
  padding: 10px 0;
}

/* Center slides */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px; /* Set proper height */
}

/* Images */
.slick-slide img {
  width: 100%; /* Ensure images are responsive */
  max-height: 300px; /* Maintain aspect ratio */
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 6px 0px rgba(0, 0, 0, 0.2);
}
